* {
  text-align: center;
}

img {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 5px;
}

h1 {
  font-family: 'Bowlby One SC', cursive;
  font-size: 75px;
  color: rgb(44, 143, 242);
  border-bottom: solid 5px rgb(44, 143, 242);
}

.hidden {
  display: none;
}

#centerDetail {
  margin-top: 5%;
}

.container-cart {
  position: absolute;
  right: 10%;
  margin-top: 4%;
}

.header-position {
  margin-left: -5%;
  margin-right: -5%;
}

.button {
  margin: auto 1%;
}

.cart-brand {
  font-style: italic;
}

.cart-price {
  color: red;
}

.cart-header {
  border-bottom: solid 2px black;
  margin-top: 5%;
  text-align: center;
}

.cart-image {
  width: 100px;
  height: 100px;
  margin-left: 20%;
}

.nav-text:hover {
  color: black;
  background-color: rgb(44, 143, 242);
}

.container-checkout {
  text-align: left;
  margin: auto 20%;
}

#btn-submit {
  color: red;
  margin-top: 5%;
}

.checkout-items {
  margin-top: 5%;
}
