* {
  text-align: center;
}

body {
  background-color: gray;
}

img {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  padding: 5px;
}

.card {
  border: solid 3px green;
  box-shadow: 5px 2px 8px #555;
  margin: 5px 5px;
  float: left;
  width: 25%;
}

p {
  color: red;
}

h1 {
  font-family: 'Bowlby One SC', cursive;
  font-size: 75px;
  color: green;
  border-bottom: solid 5px green;
}

.row {
  display: flex;
  float: left;
  flex-wrap: wrap;
}
